/T4Generator/.vs
/T4Generator/packages
/T4Generator/SampleClassLibrary/obj
/T4Generator/SampleClassLibrary/bin
/T4Generator/ConsoleApplication/bin
/T4Generator/ConsoleApplication/obj
/T4Generator/CodeGeneration/bin
/T4Generator/CodeGeneration/obj
/T4Generator/T4Templates/bin
/T4Generator/T4Templates/obj
